<main>
  {{!-- Botão para abrir o modal --}}
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modelProduto">Novo
    Produto</button>


  <!-- A Modal -->
  <div class="modal" id="modelProduto">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Cabeçalho da Modal -->
        <div class="modal-header">
          <h4 class="modal-title">Cadastrar Produto</h4>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>

        <!-- Corpo da Modal -->
        <div class="modal-body">
          {{!-- Formulario --}}
          <div class="container">
            <div class="row">
              <div class="col-12">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                  <div class="mb-3">
                    <input type="text" name="nome" class="form-control" placeholder="Nome do produto">
                  </div>
                  <div class="mb-3">
                    <input type="text" name="descricao" class="form-control" placeholder="Descrição do produto">
                  </div>
                  <div class="mb-3">
                    <input type="number" name="valor" class="form-control" placeholder="Valor do produto">
                  </div>
                  <div class="mb-3">
                    <input type="file" name="imagem" class="form-control">
                  </div>
                  <input type="submit" class="btn btn-primary" value="Salvar">
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Rodapé da Modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <!-- Adicione outros botões ou ações conforme necessário -->
        </div>

      </div>
    </div>
  </div>
  <!-- Listagem de produtos -->
<div class="container" mt-4>
  <h2>Listar de Produtos</h2>
  <div class="row">
    {{#each produtos}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="imagens/{{imagem}}">
          <div class="textos">
            <p>{{nome}}</p>
            <p>{{descricao}}</p>
            <p>R${{valor}}</p>
          </div>
          {{!-- <a href="/formularioEditar/{{codigo}}" class="btn btn-warning btn-sm float-right ml-2" >Alterar</a> --}}
          
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal{{@index}}">Alterar</button>
          <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger btn-sm float-right">Remover</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>


</main>

{{!-- Gerar uma estrutura de modal para cada linha do vetor --}}
{{#each produtos}}

    {{!-- Modal --}}
    <div class="modal fade" id="modal{{@index}}" tabindex="-1" aria-labelledby="modal{{@index}}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal{{@index}}">Modal - {{@index}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body">
                    <!-- Formulario -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form action="/editar" method="post" enctype="multipart/form-data">
                                    <img src="imagens/{{imagem}}" class="img-fluid"> 
                                    <div class="mb-3">
                                    <input type="hidden" name="nomeImagem" value="{{produto.imagem}}">
                                    </div>
                            </div>
                            <input type="hidden" name="codigo" value="{{codigo}}">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="nome" class="form-control" placeholder="Nome do produto"
                                value="{{nome}}">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="descricao" class="form-control" placeholder="Descrição do produto"
                                value="{{descricao}}">
                        </div>
                        <div class="mb-3">
                            <input type="number" name="valor" class="form-control" placeholder="Valor do produto"
                                value="{{valor}}">
                        </div>
                        <div class="mb-3">
                            <input type="file" name="imagem" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Salvar">
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

{{/each}}